@using WhoWhom.Models
@model IEnumerable<ResultCalculation>

@{
    ViewData["Title"] = "Calculation";
}

<h1>Calculation</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">WHO</th>
            <th scope="col">HOWE MUCH</th>
            <th scope="col">WHOM</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserLess</td>
                <td>@item.Money UHA</td>
                <td>@item.UserMore</td>
            </tr>
        }
    </tbody>
</table>
